@media (min-width: 1500px) and (max-width:1921px){
	.bt-staticblock-title{
		top: 10%;
	}
}
@media (min-width: 1400px) and (max-width:1501px){
	.bt-staticblock-title{
		top: 7%;
	}
}
@media (min-width: 1024px) and (max-width:1279px){
	.boss_gallery .element span{
		width: 36%;
	}
	.bt-video{
		max-height: 570px;
	}
	.bt-block-purchase{
		padding: 140px 0;
	}
	.boss_gallery .element.big span{
		left: 6%;
	}
	.bt-staticblock-progr-criter .block-items .bt-staticblock-info {
		bottom: 5%;
		left: 6%;
	}
	.box .box-heading h2, .product-related h2, .article-related h2, .form-comment-container h2,
	#article-comments h2, #tab-related h2, .box-search h2, .bt-featured-pro h1, .boss-blog-featured .block-heading h1 {
		padding: 12px 20px;
	}
	.bt-video.left-video {
		max-height: 140px;
	}
}

@media (min-width: 768px) and (max-width:1270px){
}
@media (min-width: 768px) and (max-width: 1023px){
	.boss_gallery .element span{
		width: 38%;
	}
	.bt-block-purchase{
		padding: 120px 0;
	}
	.bt-video{
		max-height: 560px;
	}
	.bt-staticblock-progr-criter .block-items .bt-staticblock-info {
		bottom: 5%;
		left: 7%;
	}
	.box .box-heading h2, .product-related h2, .article-related h2, .form-comment-container h2,
	#article-comments h2, #tab-related h2, .box-search h2, .bt-featured-pro h1, .boss-blog-featured .block-heading h1 {
		padding: 12px 20px;
	}
	.bt-video.left-video {
		max-height: 130px;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	.language-currency {
		width: 65%;
	}
	#top .bt-block-header {
		width: 35%;
	}
	.bt-menu-logo ul li {
		margin-left: 12px;
	}
	.right-to-left .bt-menu-logo ul li {
		margin-left: 0;
		margin-right: 12px;
	}
	.bt-featured .box-content .image {
		max-width: 45%;
	}
	header .list-links {
		margin-left: 20px;
	}
	.right-to-left header .list-links {
		margin-left: 0;
		margin-right: 20px;
	}
	#search input.form-control {
		width: 320px;
	}
	header > div {
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.bt-staticblock-relief .bt-staticblock-title {
		bottom: 8%;
		left: 4%;
	}
	.bt-staticblock-relief .bt-staticblock-title h2, .bt-staticblock-relief .bt-staticblock-title h3 {
		margin-bottom: 6px;
	}
	/*category*/
	.product-grid .product-thumb .price:before{
		left: 37%;
	}
	div#content.col-sm-6 .button-list .btn-cart {
		width: 100%;
		margin-bottom: 5px;
	}
	/*detail*/
	a#next_image_additional, a#prev_image_additional {
		width: 20px;
		height: 20px;
	}
	.bt-product-zoom .fa.fa-angle-right, .bt-product-zoom .fa.fa-angle-left{
		font-size: 15px;
		padding: 2px 3px 1px 7px;
	}
	.footer-newletter h3 {
		font-size: 42px;
		line-height: 46px;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	/*header*/
	#top .bt-block-header {
		padding: 4px 0;
	}
	header .list-links {
		display: none;
	}
	header > div {
		padding-bottom: 10px;
		padding-top: 10px;
	}
	#search input.form-control {
		height: 45px;
		line-height: 45px;
		width:340px;
	}
	#logo {
		margin-top: 5px;
	}
	a.btn.sample{
		padding: 10px 60px;
	}
	.bt-nprolarge-nslider .element-4 {
		width: 33.333%;
	}
	.bt-nprolarge-nslider .element-5 {
		width: 25%;
	}
	.bt-featured .box-content .image {
		float: none;
		margin: 0 0 10px;
	}
	.bt-staticblock-gamer .block-items {
		padding: 22px 10px;
	}
	.bt-staticblock-gamer .block-items span.title {
		font-size: 14px;
		line-height: 18px;
	}
	.boss-blog-featured span.bt-comment-count, .boss-blog-featured span.comment-count {
		margin: 0;
		display: block;
	}
	.boss-recent-post li.item .image {
		float: none;
		margin: 0 0 10px;
	}
	.footer-newletter h3 {
		font-size: 42px;
		line-height: 44px;
	}
	.bt-staticblock-progr-criter .sub-title {
		font-size: 34px;
		line-height: 36px;
	}
	.bt-staticblock-progr-criter .title {
		font-size: 20px;
		line-height: 22px;
	}
	.bt-staticblock-relief .bt-staticblock-title h2 {
		font-size: 44px;
		line-height: 46px;
		margin-bottom: 5px;
	}
	.bt-staticblock-relief .bt-staticblock-title h3 {
		font-size: 16px;
		line-height: 18px;
		margin-bottom: 5px;
	}
	.bt-staticblock-relief .bt-staticblock-title {
		bottom: 8%;
		left: 4%;
	}
	.bt-staticblock-relief .block .bt-staticblock-title h2 {
		font-size: 26px;
		line-height: 28px;
	}
	.bt-staticblock-relief .block .bt-staticblock-title h3 {
		font-size: 12px;
		line-height: 14px;
	}
	.bt-featured-pro .box-heading.htabs a {
		font-size: 16px;
		line-height: 18px;
		padding: 12px 18px;
}
	/*category*/
	.product-grid .product-thumb .price:before{
		left: 32%;
	}
	.category-list.openCate{
		height: 170px;
	}
	div#content.col-sm-6 .product-layout .product-thumb .caption {
		padding: 0;
		clear: both;
		margin-left: 0;
	}
	/*detail*/
	a#next_image_additional, a#prev_image_additional {
		width: 20px;
		height: 20px;
	}
	.bt-product-zoom .fa.fa-angle-right, .bt-product-zoom .fa.fa-angle-left{
		font-size: 15px;
		padding: 2px 3px 1px 7px;
	}
}
@media (max-width:1199px){
	/*main slideshow*/
	.tp-caption span.btn{
		padding: 10px 71px;
	}
	a.btn.sample{
		margin-bottom: 4%;
	}
	.btn-quickshop {
		display: none;
	}
	/*category*/
	div#content.col-sm-6 .box_limit {
		/*margin-top: 10px;*/
	}
}
@media (max-width:991px){
	/*main slideshow*/
	.tp-caption span.btn{
		padding: 7px 47px;
	}
	/*category*/
	.bt-featured .box-content .image {
		width: auto;
	}
	.bt-block-theme-features .box-content {
		margin: 0 -5px;
	}
	.bt-block-theme-features .box-content .item-theme-features {
		padding: 0 10px;
	}
	.bt-block-purchase{
		padding: 120px 0;
	}
	.bt-video{
		max-height: 552px;
	}
	.boss_gallery .element span {
		width: 48%;
	}
	.boss_gallery .element.big span{
		left: 2%;
	}
	.footer_column> .row> .column {
		width: 100%;
	}
	.footer_column   .column.left{
		margin-bottom: 40px;
	}
	.boss-alphabet a {
		width: 28px;
		height: 28px;
		line-height: 28px;
	}
	.bt-item-product .bt-image, .bt-item-product .bt-detail {
		display: block;
	}
	.bt-item-product .bt-image {
		margin-bottom: 15px;
	}
}
@media (max-width: 850px){
	.bt-video{
		max-height: 480px;
	}
}
@media (max-width: 800px){
	.bt-video{
		max-height: 450px;
	}
}
@media (max-width:767px){
	#bt_container{
		overflow: hidden;
		position: relative;
	}
	.openNav #bt_container{
		overflow: visible
	}
	#bt_mainmenu ul.nav.nav-pills {
		margin-left: 0;
	}
	/*header*/
	#top .pull-left, #top .pull-right {
		float: none !important;
	}
	#bt_header {
		padding-left: 10px;
		padding-right: 10px;
	}
	.common-home #bt_header .top-header {
		position: static;
	}
	.language-currency {
		text-align: center;
	}
	.language-currency > div > div{
		display: inline-block;
		vertical-align: top;
		margin-right: 4px;
	}
	#cart button.btn-dropdown-cart{
		margin-left: 0;
		margin-right: 0;
	}
	#top .bt-block-header{
		margin: 10px 0;
		text-align: center;
	}
	#cart{
		width: 100%;
		text-align: center;
		margin-left: 0;
		margin-right: 0;
	}
	ul.list-inline, .cur-lang {
		display: inline-block;
		vertical-align: top;
	}
	ul.list-inline {
		margin-right: -4px;
	}
	#cart button.btn-dropdown-cart{
		height: 37px;
	}
	div#cart, .language-currency, ul.list-inline{
		margin-bottom: 10px;
	}
	#cart ul.dropdown-menu{
		left: 0;
		right: auto;
		width: 278px;
	}
	#logo {
		margin: 0 0 20px;
	}
	#logo img {
		width: auto;
	}
	header .list-links {
		margin: 15px 0 0;
	}
	.bt-menu-logo {
		text-align: center;
		margin: 0 0 20px;
	}
	#search input.form-control, .bt-search, #search {
		width: 100%;
	}
	header > div {
		border-bottom: none;
		padding-bottom: 20px;
	}
	.bt-breadcrumb {
		padding: 0 10px;
	}
	/*footer*/
	footer .pull-left, footer  .pull-right{
		float: none !important;
		text-align: center;
	}	
	.footer-social ul li{
		margin-left: 8px;
	}
	.payment {
	  margin-bottom: 26px;
	}
	.column  .column {
		margin-bottom: 30px;
	}
	/*menu*/
	div#bt_mainmenu {
		position: static;
	}
	div#bt_mainmenu, div.bt-search{
		display: inline-block;
		vertical-align: middle;
	}
	.bt-comb {
		text-align: center;
		padding: 12px 0;
		background: rgba(0,0,0,0.56);
		margin-bottom: 20px;
	}
	/*main slideshow*/
	.tp-caption span.btn{
		display: none;
	}
	/*homepage*/
	#column-left + #content {
		padding-right: 10px;
	}
	#content.col-sm-12 {
		padding: 0 10px;
	}
	.bt-product-grid .bt-item-extra, .product-layout.product-grid {
		margin-right: 0;
	}
	.bt-staticblock-relief .block.block-left, .bt-staticblock-relief .block.block-right {
		padding: 0;
	}
	 .bt-staticblock-relief .block.block-right { 
		margin-top:20px;
	 }
	 .bt-item-extra.product-list .button-group.hidden-xs {
		display: block !important;
	 }
	 .bt-item-extra.product-list .button-group.visible-xs {
		display: none !important;
	 }
	 .boss-blog-featured .block-content .main-article {
		margin-bottom: 30px;
	 }
	 .footer-newletter h3 {
		font-size: 34px;
		line-height: 38px;
	}
	.button-group.visible-xs button {
		padding: 0 15px;
		margin-bottom: 5px;
	}
	/*category*/
	.product-thumb .image a:hover:after {
		/*width: 0;*/
	}
	div#content .button-list .btn-cart, div#content.col-sm-12 .button-list .btn-cart, div#content.col-sm-6 .button-list .btn-cart{
		width: 40%;
	}
	/*shopping cart*/
	.table-responsive{
		border: none;
	}
	.cart-info thead{
		display: none;
	}
	.cart-info table{
		border: none;
	}
	.cart-info .table tbody tr {
		display: inline-block;
		margin-bottom: 20px;
		padding-bottom: 10px;
		width: 100%;
		border-bottom: 1px solid #e2e2e2;
	}
	.cart-info .table tbody tr td:first-child{
		float: left;
		width: 40%;
		padding-left: 0;
	}
	.cart-info .table tbody tr td{
		float: right;
		width: 60%;
		padding: 0 0 10px 10px;
		margin-bottom: 0;
		border: none;
		text-align: left;
	}
	.cart-info .table tbody tr td.name{
		padding: 0 0 10px 10px;
	}
	/*promotional*/
	.bt-staticblock-freeshipping,.bt-block-theme-features{
		margin-bottom: 70px;
	}
	.bt-staticblock-freeshipping .bt-staticblock + .bt-staticblock {
		margin-top: 40px;
	}
	.boss_gallery {
		margin-bottom: 70px;
		margin-top: 40px;
	}
	.boss_gallery .element.big span {
		left: 5%;
	}
	.boss_gallery .element span {
		font-size: 20px;
		line-height: 20px;
		width: 50%;
	}
	.bt-block-theme-features{
		padding: 48px 15px 30px;
	}
	.bt-block-theme-features .box-content {
		margin: 0 -5px;
	}
	.bt-block-theme-features .box-content .item-theme-features{
		padding: 0 10px;
		margin-bottom: 30px;
	}
	.bt-block-purchase{
		padding: 100px 0;
	}
	.bt-video{
		height: 417px !important;
	}
	.bt-video .bt_video_text span {
		font-size: 45px;
		line-height: 45px;
	}
	.bt-video .bt_video_text{
		top: 25%;
	}
	.bt-video .video-js .vjs-big-play-button{
		width: 80px;
		height: 80px;
		font-size: 5em;
		margin-left: -40px;
		margin-top: -40px;
	}
	.bt-video .vjs-default-skin .vjs-big-play-button:before{
		line-height: 1.4em;
	}
}
@media (min-width: 520px) and (max-width: 767px){
	/*category*/
	.product-grid .product-thumb .price:before{
		left: 45%;
	}
	.bg_banner4 .text-details{
		top: 10%;
	}
}
@media (min-width: 501px) and (max-width: 605px){
	div#content .button-list .btn-cart, div#content.col-sm-12 .button-list .btn-cart, div#content.col-sm-6 .button-list .btn-cart{
		width: 100%;
	}
	.boss_gallery .element span {
		font-size: 18px;
		left: 20px;
		line-height: 18px;
		top: 20px;
		width: 52%;
	}
	.bt-video{
		height: 335px !important;
	}
	.bt-video .bt_video_text span {
		font-size: 42px;
		line-height: 42px;
	}
	.bt-video .bt_video_text p {
		font-size: 22px;
		line-height: 24px;
	}
	.bt-video .bt_video_text{
		top: 22%;
	}
	.bg_banner4 .text-details{
		top: 5%;
	}
}
@media (max-width:500px){
	.product-list .product-thumb .caption {
		margin-left: 0;
		margin-right: 0;
		clear: both;
	}
	.checkout-cart .buttons a{
		width: 100%;
		min-width: inherit;
		padding: 10px 0;
	}
	.result-pagination ul.pagination li > span, .result-pagination ul.pagination li > a, .boss-panigation ul.pagination li > span, .boss-panigation ul.pagination li > a{
		border-top: 1px solid #b4b4b4;
	}
	.boss_gallery .element.big{
		width: 100%;
	}
	.boss_gallery .element{
		width: 50%;
	}
	.boss_gallery .element span {
		font-size: 18px;
		left: 20px;
		line-height: 18px;
		top: 20px;
	}
	.boss_gallery .element.big span {
		left: 4%;
		top: 40%;
	}
	.bt-block-theme-features{
		padding-left: 15px;
		padding-right: 15px;
	}
	.bt-block-theme-features .box-content{
		margin: 0;
	}
	.bt-block-theme-features .box-content .item-theme-features{
		width: 100%;
		padding: 0;
	}
	.bt-block-theme-features .box-content .item-theme-features + .item-theme-features{
		margin-top: 40px;
	}
	
	.bt-block-theme-features .box-content .item-theme-features .image:hover:before {
		box-shadow: 0 0 0 167px rgba(0, 0, 0, 0.25) inset;
		-webkit-box-shadow: 0 0 0 167px rgba(0, 0, 0, 0.25) inset;
		-moz-box-shadow: 0 0 0 167px rgba(0, 0, 0, 0.25) inset;
	}
	.bt-block-purchase h1 {
		font-size: 40px;
		line-height: 40px;
	}
	.bt-block-purchase p {
		font-size: 20px;
		margin-bottom: 25px;
	}
	.bt-block-purchase a {
		font-size: 13px;
		line-height: 13px;
		padding: 10px 65px;
	}
	.bt-video{
		height: 270px !important;
	}
	.bg_banner3 .text-details, .bg_banner4 .text-details, .bg_banner5 .text-details{
		display: none;
	}
	.popular-cate .box-content{
		width: 50%;
	}
	.boss-blog-featured span.bt-comment-count, .boss-blog-featured span.comment-count {
		margin-left: 18px;
	}
	.right-to-left .boss-blog-featured span.bt-comment-count, .right-to-left .boss-blog-featured span.comment-count {
		margin-left: 0;
		margin-right: 18px;
	}
	.product-list .caption .button-group button, .product-list .caption .button-group  a {
		margin-bottom: 2px;
	}
}
@media (max-width:479px){
	.bt-nprolarge-nslider .bt-product-grid .bt-item-extra, .product-layout.product-grid  {
		margin-right: 0; 
		margin-left: 0;
	}
}
@media (max-width:400px){
	.bt-video{
		height: 220px !important;
	}
	.bt-video .bt_video_text span {
		font-size: 30px;
		line-height: 30px;
		margin-bottom: 5px;
	}
	.bt-video .bt_video_text p {
		font-size: 20px;
		line-height: 22px;
	}
	.bt-video .bt_video_text{
		top: 15%;
	}
	.bt-video .video-js .vjs-big-play-button{
		width: 70px;
		height: 70px;
		font-size: 4.5em;
		margin-left: -35px;
		margin-top: -35px;
	}
	.bt-video .vjs-default-skin .vjs-big-play-button:before{
		line-height: 1.35em;
	}
	.bt-staticblock-relief .bt-staticblock-title h2 {
		font-size: 38px;
		line-height: 40px;
		margin-bottom: 8px;
	}
	.bt-staticblock-relief .bt-staticblock-title h3 {
		font-size: 12px;
		line-height: 14px;
		margin-bottom: 8px;
	}
	.bt-staticblock-relief .bt-staticblock-title {
		left: 5%;
		bottom: 5%;
	}
	.boss-blog-featured span.bt-comment-count, .boss-blog-featured span.comment-count {
		margin-left: 0;
		margin-top: 3px;
		display: block;
	}
	.right-to-left .boss-blog-featured span.bt-comment-count,.right-to-left  .boss-blog-featured span.comment-count {
		margin-right: 0;
	}
	.footer-newletter h3 {
		font-size: 30px;
		line-height: 34px;
	}
	.product-list .product-thumb .image {
		margin: 0 15px 0 0;
	}
	.right-to-left .product-list .product-thumb .image {
		margin: 0 0 0 15px;
	}
	.bt-item-extra.product-list .product-thumb {
		padding: 15px;
	}
}
@media (max-width:370px){
	table.minicart_total tr td.left {
		padding: 10px 0 10px 30px;
	}
	table.minicart_total tr td.right{
		padding: 10px 30px 10px 0;
	}
	.bt-block-purchase h1 {
		font-size: 38px;
		line-height: 38px;
	}
	.bt-block-purchase p {
		font-size: 18px;
	}
	.bt-video{
		height: 185px !important;
	}
	.bt-staticblock-relief .bt-staticblock-title {
		left: 3%;
		bottom: 3%;
	}
}
@media (max-width:350px){
	.bt-staticblock-title h1{
		font-size: 100px;
	}
	.htabs-content .bt-product-grid .product-thumb .price:before {
		left: 41%;
	}
	.bt-block-purchase h1 {
		font-size: 30px;
		line-height: 30px;
	}
	.bt-block-purchase p {
		font-size: 14px;
		margin-bottom: 20px;
	}
	.boss_gallery .element span{
		width: 55%;
	}
	.bt-video{
		height: 175px !important;
	}
	.bt-video .bt_video_text{
		top: 12%;
	}
	.bt-video .bt_video_text span{
		font-size: 26px;
		line-height: 26px;
		margin-bottom: 5px;
	}
	.bt-video .bt_video_text p{
		font-size: 16px;
		line-height: 16px;
	}
	.bt-video .video-js .vjs-big-play-button{
		width: 60px;
		height: 60px;
		font-size: 4em;
		margin-left: -30px;
		margin-top: -30px;
	}
	.bt-video .vjs-default-skin .vjs-big-play-button:before{
		line-height: 1.3em;
	}
	#cart ul.dropdown-menu {
		max-width: 300px;
	}
	.list-inline > li a{
		padding: 11px 10px;
	}
	#language .btn, #currency .btn {
		padding: 8px;
	}
	.product-list .caption .button-group button, .product-list .caption .button-group a {
		width: 40px;
	}
	.bt-menu-logo ul li {
		margin-left: 25px;
	}
	.product-list .button-group .btn-wishlist, .product-list .button-group .btn-compare, .product-list .button-group .sft_quickshop_icon {
		padding: 0 10px;
	}
	.bt-featured-pro .box-heading.htabs a {
		padding: 10px 20px;
		display: block;
		margin: 0;
	}
	.bt-item-extra.product-list .product-thumb .des {
		display: none;
	}
}
@media (max-width:320px){
	.bt-menu-logo ul li {
		margin-left: 10px;
	}
	.right-to-left .bt-menu-logo ul li {
		margin-left: 0;
		margin-right: 10px;
	}
	.bt-staticblock-relief .bt-staticblock-title h2 {
		font-size: 30px;
		line-height: 32px;
		margin-bottom: 5px;
	}
	.bt-staticblock-relief .bt-staticblock-title h3 {
		font-size: 10px;
		line-height: 12px;
		margin-bottom: 5px;
	}
	.bt-staticblock-relief .bt-staticblock-title p {
		font-size: 11px;
		line-height: 14px;
	}
	.bt-staticblock-relief .block .bt-staticblock-title h3 {
		font-size: 12px;
		line-height: 14px;
	}	
	.product-list .product-thumb .image {
		float: none;
		margin: 0 0 15px;
	}
	.right-to-left .product-list .product-thumb .image {
		margin: 0 0 15px;
	}
}
/*thiet bi ipad, ipod*/
@media screen and (max-device-width:1280px){
	.bt-block-home-bg{
		background-attachment: initial;
	}
	div#back_top{
		display: none !important;
	}
	.article_content .image a:after, .product-thumb .image a:after {
		position: static;
	}
	.product-thumb .image:hover a:after, .article_content .image a:hover:after{
		width: 0;
		opacity: 1;
		filter: alpha(opacity=100);
	}
}
@-moz-document url-prefix() {
	#tab-description > li {
		margin-left: 12px;
	}
}
select.form-control{
	padding-right: 0\9;
}







